<div
  class="w-full flex justify-center py-5 bg-gradient-to-b from-sky-100 to-blue-200 shadow-lg"
>
  <div class="relative w-[15vw] flex flex-col gap-2">
    <input
      #searchBox
      class="w-full bg-white focus:bg-sky-100 hover:bg-sky-200 text-sky-900 placeholder:text-sky-500 border border-sky-400 rounded-md p-3 text-lg shadow-sm"
      type="text"
      placeholder="Search Your City..."
      [ngModel]="searchTerm()"
    />

    <!-- @if (showDropdown()) { -->
    <ul
      #dropDown
      class="absolute top-full mt-1 z-10 w-full max-h-[200px] bg-white text-sky-800 border border-sky-300 rounded-md shadow-md overflow-y-auto transition-all duration-200 ease-in-out opacity-0 translate-y-2 h-0"
    >
      @for (zone of filteredZones(); track $index) {
      <li
        class="p-2 hover:bg-sky-100 cursor-pointer"
        (click)="setSearchedValue(zone)"
      >
        {{ zone.city }}, {{ zone.country }}
      </li>
      }
    </ul>
    <!-- } -->
  </div>
</div>
